@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.extraContent {
  display: flex;
  justify-content: space-between;
}

.extraContentSearch {
  margin: 0 16px;
  width: 272px;
}

@media screen and (max-width: @screen-sm) {
  .standardList {
    .extraContentSearch {
      margin-left: 0;
      width: 100%;
    }
  }
}

.customFilterDropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.customFilterDropdown input {
  width: 130px;
  margin-right: 8px;
}

.customFilterDropdown button {
  margin-right: 8px;
}

.highlight {
  color: #f50;
}
